Sistema PANI/Connected Services/MaritalState/MaritalStateServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKeyValuePairDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairDTO" nillable="true" type="tns:KeyValuePairDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairDTO" nillable="true" type="tns:ArrayOfKeyValuePairDTO" />
  <xs:complexType name="KeyValuePairDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairDTO" nillable="true" type="tns:KeyValuePairDTO" />
</xs:schema>