Sistema PANI/Connected Services/RoomHouse/RoomHouseServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://adoptionservice.azurewebsites.net/Contract/RoomHouseServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" />
  <xs:element name="GetRoomHouses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomHousesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" minOccurs="0" name="GetRoomHousesResult" nillable="true" type="q1:ArrayOfKeyValuePairDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>