Sistema PANI/Connected Services/Adoption/AdoptionsServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SaveAdoptionRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllDocuments" type="xs:boolean" />
      <xs:element minOccurs="0" name="FamilyVisit" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDKid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarriageInformation" nillable="true" type="tns:SaveMarriageInformationDTO" />
      <xs:element minOccurs="0" name="ParentsInterview" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessDescripction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateFileId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveAdoptionRequestDTO" nillable="true" type="tns:SaveAdoptionRequestDTO" />
  <xs:complexType name="SaveMarriageInformationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Father" nillable="true" type="tns:SavePersonDTO" />
      <xs:element minOccurs="0" name="MaritalStateId" type="xs:int" />
      <xs:element minOccurs="0" name="MarriageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mother" nillable="true" type="tns:SavePersonDTO" />
      <xs:element minOccurs="0" name="RoomHouseId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveMarriageInformationDTO" nillable="true" type="tns:SaveMarriageInformationDTO" />
  <xs:complexType name="SavePersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobInformation" nillable="true" type="tns:SaveJobInformationDTO" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondLastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SavePersonDTO" nillable="true" type="tns:SavePersonDTO" />
  <xs:complexType name="SaveJobInformationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualPosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnualSalary" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveJobInformationDTO" nillable="true" type="tns:SaveJobInformationDTO" />
  <xs:complexType name="AdoptionRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllDocuments" type="xs:boolean" />
      <xs:element minOccurs="0" name="FamilyVisit" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDKid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarriageInformation" nillable="true" type="tns:MarriageInformationDTO" />
      <xs:element minOccurs="0" name="ParentsInterview" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessDescripction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateFile" nillable="true" type="tns:KeyValuePairDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdoptionRequestDTO" nillable="true" type="tns:AdoptionRequestDTO" />
  <xs:complexType name="MarriageInformationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Father" nillable="true" type="tns:PersonDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaritalState" nillable="true" type="tns:KeyValuePairDTO" />
      <xs:element minOccurs="0" name="MarriageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mother" nillable="true" type="tns:PersonDTO" />
      <xs:element minOccurs="0" name="RoomHouse" nillable="true" type="tns:KeyValuePairDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarriageInformationDTO" nillable="true" type="tns:MarriageInformationDTO" />
  <xs:complexType name="PersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobInformation" nillable="true" type="tns:ArrayOfJobInformationDTO" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonType" nillable="true" type="tns:KeyValuePairDTO" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondLastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDTO" nillable="true" type="tns:PersonDTO" />
  <xs:complexType name="ArrayOfJobInformationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobInformationDTO" nillable="true" type="tns:JobInformationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobInformationDTO" nillable="true" type="tns:ArrayOfJobInformationDTO" />
  <xs:complexType name="JobInformationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualPosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnualSalary" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerType" nillable="true" type="tns:KeyValuePairDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobInformationDTO" nillable="true" type="tns:JobInformationDTO" />
  <xs:complexType name="KeyValuePairDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairDTO" nillable="true" type="tns:KeyValuePairDTO" />
  <xs:complexType name="ArrayOfAdoptionRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdoptionRequestDTO" nillable="true" type="tns:AdoptionRequestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdoptionRequestDTO" nillable="true" type="tns:ArrayOfAdoptionRequestDTO" />
</xs:schema>