Sistema PANI/Connected Services/Adoption/AdoptionsServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1307/Contract/AdoptionsServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" />
  <xs:element name="AddAdoptionProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" minOccurs="0" name="adoptionRequest" nillable="true" type="q1:SaveAdoptionRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdoptionProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" minOccurs="0" name="AddAdoptionProcessResult" nillable="true" type="q2:AdoptionRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdoptionProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdoptionProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAdoptionProcessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdoptionProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" minOccurs="0" name="adoptionRequest" nillable="true" type="q3:SaveAdoptionRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdoptionProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" minOccurs="0" name="UpdateAdoptionProcessResult" nillable="true" type="q4:AdoptionRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetadoptionProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetadoptionProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" minOccurs="0" name="GetadoptionProcessResult" nillable="true" type="q5:AdoptionRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdoptionProcess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdoptionProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" minOccurs="0" name="GetAllAdoptionProcessResult" nillable="true" type="q6:ArrayOfAdoptionRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>