Sistema PANI/Connected Services/Adoption/AdoptionsServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdoptionsServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1307/Contract/AdoptionsServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1307/Contract/AdoptionsServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1307/Contract/AdoptionsServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adoption.Contract.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdoptionServices_AddAdoptionProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAdoptionProcess" />
  </wsdl:message>
  <wsdl:message name="IAdoptionServices_AddAdoptionProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAdoptionProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IAdoptionServices_RemoveAdoptionProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAdoptionProcess" />
  </wsdl:message>
  <wsdl:message name="IAdoptionServices_RemoveAdoptionProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAdoptionProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IAdoptionServices_UpdateAdoptionProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdoptionProcess" />
  </wsdl:message>
  <wsdl:message name="IAdoptionServices_UpdateAdoptionProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdoptionProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IAdoptionServices_GetadoptionProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:GetadoptionProcess" />
  </wsdl:message>
  <wsdl:message name="IAdoptionServices_GetadoptionProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetadoptionProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IAdoptionServices_GetAllAdoptionProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdoptionProcess" />
  </wsdl:message>
  <wsdl:message name="IAdoptionServices_GetAllAdoptionProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdoptionProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdoptionServices">
    <wsdl:operation name="AddAdoptionProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdoptionServices/AddAdoptionProcess" message="tns:IAdoptionServices_AddAdoptionProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdoptionServices/AddAdoptionProcessResponse" message="tns:IAdoptionServices_AddAdoptionProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAdoptionProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdoptionServices/RemoveAdoptionProcess" message="tns:IAdoptionServices_RemoveAdoptionProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdoptionServices/RemoveAdoptionProcessResponse" message="tns:IAdoptionServices_RemoveAdoptionProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdoptionProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdoptionServices/UpdateAdoptionProcess" message="tns:IAdoptionServices_UpdateAdoptionProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdoptionServices/UpdateAdoptionProcessResponse" message="tns:IAdoptionServices_UpdateAdoptionProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetadoptionProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdoptionServices/GetadoptionProcess" message="tns:IAdoptionServices_GetadoptionProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdoptionServices/GetadoptionProcessResponse" message="tns:IAdoptionServices_GetadoptionProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAdoptionProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdoptionServices/GetAllAdoptionProcess" message="tns:IAdoptionServices_GetAllAdoptionProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdoptionServices/GetAllAdoptionProcessResponse" message="tns:IAdoptionServices_GetAllAdoptionProcess_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdoptionServices" type="tns:IAdoptionServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAdoptionProcess">
      <soap:operation soapAction="http://tempuri.org/IAdoptionServices/AddAdoptionProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAdoptionProcess">
      <soap:operation soapAction="http://tempuri.org/IAdoptionServices/RemoveAdoptionProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdoptionProcess">
      <soap:operation soapAction="http://tempuri.org/IAdoptionServices/UpdateAdoptionProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetadoptionProcess">
      <soap:operation soapAction="http://tempuri.org/IAdoptionServices/GetadoptionProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdoptionProcess">
      <soap:operation soapAction="http://tempuri.org/IAdoptionServices/GetAllAdoptionProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdoptionsServices">
    <wsdl:port name="BasicHttpBinding_IAdoptionServices" binding="tns:BasicHttpBinding_IAdoptionServices">
      <soap:address location="http://localhost:1307/Contract/AdoptionsServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>